[Unit]
Description=switch power profiles for performance

[Service]
Type=oneshot
ExecStart=/usr/sbin/tuned-adm profile powersave

[Install]
WantedBy=battery.target
