[Unit]
Description=switch power profiles for performance

[Service]
Type=oneshot
ExecStart=/usr/sbin/tuned-adm profile powersave
ExecStart=/bin/bash -c 'if [[ $(wc -c <<<"$(bluetoothctl devices Connected)") -le 1 ]]; then bluetoothctl power off; fi'

[Install]
WantedBy=battery.target
